html, body{
    scroll-behavior: smooth;
  }
  .desktop{
    display: flex;
    list-style-type: none;
  }
  
  .imenu{
    display: none;
  }
  .menu-lateral{
    display:none;
  }
  
  header > nav > .itens  a{
    display: block;
    font-size: 1.07em;
    font-weight: 600;
    color: #f2f2f2;
    text-decoration: none; 
  
  }
  
  header > nav > .itens a:hover{
    background-color:var(--cor1); 
    color: white;
    transition-duration: 0.3s;
    border-radius: 10px;
    padding: 3px 5px;
  }
  
  header > nav > .itens{
    display: flex;
    align-items: center;
    height: 30px;
    gap: 20px;
  
  }

  .bandeira{
    background-position: center;
  }
  
  .btn-orcamento{
    top: 65%;
  }

  .border{
    border-left: 1px solid rgba(0, 0, 0, 0.26);
  
  }

  .card{
    height: 480px;
    transition-duration: 0.6s;
  }

  .card:hover{
    box-shadow: 0px 0px 5px 3px rgba(255, 145, 0, 0.712);


  }

  .destaques{
    gap: 30px;
    width: 50%;
    margin: 50px 0px;

  }

  .layout-flex{
    justify-content:left;
    width: 100%;
    margin-left: 10%;
    
  }

  .txt-bandeira h1{
    font-size: 2em;
    top: 20%;
  }
  
  
  .typing-text { 
    font-size: 0.6em; 
  }
  
  .epi{
    transform: translateY(0);
    transition: transform 0.6s ease;

  }

  .manutencao{
    transform: translateY(0);
    transition: transform 0.6s ease;
  }
  .epi:hover{
    transform: translateY(-20px);
  }

  .manutencao:hover{
    transform: translateY(-20px);
  }

  .conteudo-curriculo{
    justify-content: space-around;
    align-items: center;

    }
    
    .ft-curriculo{
    width: 380px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.384);
    }
    
    .txt-curriculo{
    width: 50%;
    margin-top: 20px;
    font-size: 1.2em;
    }

    .footer{
      height: 300px;
    }
    
    .sessao-footer{
    
      justify-content: start;
      flex-direction: row;
      
    }
    
    .links-uteis > li{
      font-size: 1.3em;
      margin: 20px 0px;
    }
    
    .sessao-footer > div{
    margin-top: 25px;
    margin-right: 60px;
    }