@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --fonte-padrao: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    --fonte-destaque: Archivo, sans-serif;

    --cor1: #003f7a;
    --cor2: #29abe2;
    --cor3: #f7931e;
    --cor4: #f2f2f2;
    --cor5: #A0A0A0;
    --cor6: #F4F4F4;
}

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
    font-family: var(--fonte-padrao);
    background-color: rgb(255, 255, 255);
}


header{
    background-image: linear-gradient(45deg,#003f7a 20%, #29abe2);
    font-family: var(--fonte-destaque);
    position: relative;
    z-index: 1000;
    width: 100vw;
}


header> nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px 0px 0px; 
    font-family: var(--fonte-destaque);
    font-size: 1em;

}

header .logo> a >img{
  width: 150px;
}


.desktop{display: none;}

.imenu {
    z-index: 999;
    cursor: pointer;
  }

.imenu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color:  #ffffff;
  margin-bottom: 5px; 
  }

.lateral a{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}

.lateral{
    list-style-type: none;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(45deg,white 20%, rgb(238, 233, 233));
    transition: left 0.3s ease;
    z-index: 999;
  }
  
  .menu-lateral.open {
    left: 0;
    z-index: 999; 
  }
  
  .menu-lateral ul {
    position: absolute;
    top: 50%;
    list-style: none;
    padding: 0;
    transform: translate(0%,-50%);
    margin-left: 20px;
  }
  
  .menu-lateral ul li {
    padding: 15px;
    font-family: var(--font-principal);
    font-size: 1.5em;
    text-align: left; 
  }
  
  .menu-lateral ul li a:hover {
    color: var(--cor2);
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    color: black;
  }



.btn-contato{
    text-align: center;
    height: 40px;
    width: 100px;
    font-weight: 600;
    color: var(--cor2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.btn-contato:hover{
    color: white;
    background-color:var(--cor3);
    transition-duration: 0.5s;
    border: 1px solid var(--cor3);
    
}

.bandeira {
  position: relative;
  background-image: url(../imagens/banner-principal.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  color: white;
}

.txt-bandeira h1{
  font-size: 1.3em;
  top: 20%;
}

.txt-bandeira{
  position: absolute;
  top: 10%;
  left: 5%;
  width: 40%;
  text-align: left;
}


.typing-text { 
  color: white;
  font-size: 0.7em; /* Ajuste o tamanho da fonte conforme necessário */
  width: 80%; /* Ocupa 50% da largura do banner */
  overflow-wrap: break-word; /* Para permitir quebra de palavra */
  text-align: left;
  font-weight: 300;
  margin-top: 20px;
}

.btn-orcamento{
  position: absolute;
  border: none;
  height: 40px;
  border-radius: 5px;
  background-color: #29abe2;
  color: white;
  font-weight: 600;
  padding: 10px;
  top: 80%;
  left: 5%;
  cursor: pointer;
}

.btn-orcamento:hover{
  box-shadow: 2px 2px 4px 2px rgba(255, 255, 255, 0.685);
}


.quem-somos{
  background-color: white;
  padding: 0px 0px 70px 0px;
}

.conteudo h1, p{
  width: 80%;
  margin: auto;
}

.conteudo h1{
  font-size: 2em;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  color: var(--cor2);
}

.conteudo .resumo-sobre{
  text-align: justify;
}

strong{
  color: var(--cor2);
}



.titulo-personalizado{
  display: flex;
  justify-content: center;
  gap: 0px;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 25px;
 
}

.titulo-personalizado h1{
  display: block;
  width: auto;
  margin: 0px 10px;
  font-size: 2em;
}

.flash{
  background-image: url(../imagens/flash.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
 
}

.flash2{
  background-image: url(../imagens/flash2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}


/* Wrapper para manter os botões em posição correta */
.slideshow-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 90%;
  max-width: 100%;
  margin: auto;
}

/* Container do slideshow em flexbox */
.slideshow-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  transition: transform 0.5s ease; /* Transição suave */
  margin-top: 30px;
}

/* Estilo dos cards */
.card {
  flex: 0 0 auto;
  width: 100%; /* Cada card ocupará 100% da largura no mobile */
  margin: 0; /* Remove margens laterais no mobile */
  padding: 20px;
  height: 400px;
  background-color: #f4f4f4;
  color: white;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
}

/* Responsivo */
@media (min-width: 768px) {
  .slideshow-container {
      padding: 0 10px; /* Padding para compensar margens no desktop */
  }

  .card {
      margin: 0 15px; /* Reaplica margens laterais no desktop */
      width: calc((100% / 3) - 30px); /* Ajusta a largura no desktop */
  }
}

/* Botões de navegação */
button.prev, button.next {
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 16px;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.card h2 {
  font-size: 1.2em;
  margin: 50px;
}

.card p {
  font-size: 0.85em;
  text-align: justify;
  width: 90%;
}

.qualidade{
  position: relative;
  height: 400px;
  width: 100%;
  background-image: url(../imagens/banner2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.txt-qualidade{
  position: absolute;
  top: 50%;
  transform: translate(5%, -50%);
  width: 90%;
}

.qualidade h1, p{
  text-align: center;
}

.seguranca{
  padding-top: 50px;
  padding-bottom: 25px;
}

.seguranca h1{
  color: #f7931e;
  width: 80%;
  margin: auto;
  
}

.seguranca p{
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 30px;
}

.destaques{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin: 50px auto;
}

.destaques h1{
  font-size: 1.2em;
  margin: 0px;

}

.icones{
  display: flex;
  gap: 10px;
  align-items: center ;
 
}

.norma{
  background-image: url(../imagens/iso.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
 
}

.instalacoes{
  background-image: url(../imagens/seguranca.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
 
}

.protecao{
  background-image: url(../imagens/epis.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
 
}.img-destaques{
  position: relative;
  width: 400px;
  height: 450px;
}

.ft-destaques{
  width: 200px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #ff880083;
}

.epi{
  position: absolute;
  top: 35%;
  background-image: url(../imagens/protecao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;

}

.manutencao{
  position: absolute;
  left: 30%;
  background-image: url(../imagens/manutencao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}

.layout-flex{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.foto1{
  background-image: url(../imagens/residencial.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foto2{
  background-image: url(../imagens/predial.jpg);
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.foto3{
  background-image: url(../imagens/industrial.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foto4{
  background-image: url(../imagens/hidraulica.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foto5{
  background-image: url(../imagens/cerca.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foto6{
  background-image: url(../imagens/camera.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foto7{
  background-image: url(../imagens/pintura.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Defina o estado inicial dos elementos */
.surge-bottom {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Estado final ao entrar na visualização */
.surge-bottom.visible {
  opacity: 1;
  transform: translateY(0);
}


.surge-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.surge-right.visible {
  opacity: 1;
  transform: translateX(0);
}


.surge-left {
  opacity: 0;
  transform: translateX(-40px);
  transition: opacity 1.2s ease, transform 0.8s ease;
}

.surge-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.surge-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.surge-right.visible {
  opacity: 1;
  transform: translateX(0);
}


.gallery-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  color: #f7931e;
}


.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* Lightbox Styles */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 550px;
  animation: zoom 0.6s;
}

@keyframes zoom {
  from { transform: scale(0) }
  to { transform: scale(1) }
}

.close {
  position: absolute;
  top: 30px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover {
  color: #bbb;
}

/* Responsividade */
@media (max-width: 768px) {
  .gallery-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  h2 {
      font-size: 1.5rem;
  }

  .lightbox-content {
      width: 90%;
  }
}


.chamada-cliente{
  position: relative;
  margin-top: 70px;
  background-image: url(../imagens/bandeira2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  color: white;
  border-bottom: 2px solid var(--cor3);
}

.chamada-cliente > h1{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}


.btn-orcamento2{
  position: absolute;
  border: none;
  width: 250px;
  height: 55px;
  border-radius: 8px 0px;
  background-color: var(--cor3);
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
}

.btn-orcamento2:hover{
  box-shadow: 2px 2px 5px 2px rgba(255, 255, 255, 0.829);
}

.curriculo{
  width: 100%;
  background-color: rgb(44, 44, 44);
  }

  .conteudo-curriculo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  }

  .ft-curriculo{
  height: 700px;
  width: 100%;
  background-image: url(../imagens/pedro.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  }

  .txt-curriculo{
  width: 70%;
  margin-top: 20px;
  font-size: 1em;

  }

  .txt-curriculo h2{
    margin-top: 25px;
    }

  .txt-curriculo li{
  margin: 30px 0px;
  
  }

  footer{
    background-color: rgb(246, 246, 247);
    padding: 40px 0px;
  }
  
  .sessao-footer{
    display: flex;
    margin-left: 5%;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
      
  }
  
  .sessao-footer  h3,li, p ,a {
    margin-bottom: 10px;
  }
  
  .sessao-footer div{
    margin-bottom: 15px;
  }
  
  footer ul, a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  .endereco{
    font-size: 1em;
    margin-left: 20px;
  }
  
  h3{
    color: var(--cor1);
  }
  
  .links-uteis > li > a:hover{
    color: var(--cor3);
  }
  
  .nav-footer{
    margin: 25px 0px;
  }
  
.contato p{
  color: black;
  text-align: left;
  margin: 0px;
  line-height: 1.8em;
}

.divisoria{
  display: block;
  width: 90%;
  height: 1px;
  background-color: #000000;
  margin: 10px auto;
}
