@charset "UTF-8";

html, body{
  scroll-behavior: smooth;
}
.desktop{
  display: flex;
  list-style-type: none;
}

.imenu{
  display: none;
}
.menu-lateral{
  display:none;
}

header > nav > .itens  a{
  font-size: 1.2em;
  font-weight: 600;
  display: block;
  color: #f2f2f2;
  text-decoration: none; 
}

header > nav > .itens a:hover{
  background-color:var(--cor3); 
  color: white;
  transition-duration: 0.3s;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.589);
  padding: 3px 5px;
}

header > nav > .itens{
  display: flex;
  align-items: center;
  height: 30px;
  gap: 60px;
  padding: 50px 0px;
}

.conteudo p{
 font-size: 1.3em;
}

.bandeira{
  background-position: center;
}

.txt-bandeira h1{
  font-size: 2.3em;
  top: 20%;
}

.typing-text { 
  font-size: 0.6em; 
}

.btn-orcamento{
  top: 50%;
  width: 200px;
  height: 45px;
  font-size: 1.2em;
}

.border{
  border-left: 1px solid rgba(0, 0, 0, 0.26);

}

.qualidade  p{
 font-size: 1.2em;
}

.seguranca p{
  font-size: 1.2em;
}

.icones{
  display: flex;
  gap: 30px;
 
}
.norma{
  width: 50px;
  height: 50px;
 
}

.instalacoes{
  width: 50px;
  height: 50px;
 
}

.protecao{
  width: 50px;
  height: 50px;
 
}

.ft-destaques{
  width: 350px;
  height: 400px;
}

.manutencao{  
  left: 60%;

}

.destaques{
  gap: 30px;
  width: 50%;
  margin: 50px 0px;
}

.layout-flex{
  justify-content:left;
  width: 100%;
  margin-left: 10%;
  
}

.card{
  transition-duration: 0.6s;
}

.card:hover{
  box-shadow: 0px 0px 5px 3px rgba(255, 145, 0, 0.712);


}

.epi{
  transform: translateY(0);
  transition: transform 0.6s ease;

}

.manutencao{
  transform: translateY(0);
  transition: transform 0.6s ease;
}
.epi:hover{
  transform: translateY(-20px);
}

.manutencao:hover{
  transform: translateY(-20px);
}


@media (max-width: 1580px) {
  .ft-destaques{
    width: 200px;
    height: 300px;
   
  }

  .epi{
    top: 35%;
  }
  
  .manutencao{
    left: 30%;

  }

  .destaques{
    gap: 30px;
    width: 50%;
    margin: 50px 0px;
  }

  .layout-flex{
    justify-content:left;
    width: 100%;
    margin-left: 10%;
    
  }
}